
  <h1>Lista de post</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Cuerpo</th>
      <% if admin_signed_in? %>
      <th>email</th>
      <% end %>
      <th colspan="3"></th>
    
    


    </tr>
  </thead>

  <tbody>

  <% @posts.each do |post| %>
      <% if user_signed_in? %>
      <% if post.user_id == current_user.id %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <%if post.body %>
            <a href="#" data-reveal-id="post-<%=post.id%>">Ver mas</a>
              <div id="post-<%=post.id%>" class="reveal-modal" data-reveal>
                <%=post.body%>
                <a class="close-reveal-modal">&#215;</a>          
            </div>
          <%end%>
        </td>
        <td><%= link_to 'Mostrar', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
      <% end %>
    <% end %>





    <% if admin_signed_in? %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <%if post.body %>
            <a href="#" data-reveal-id="post-<%=post.id%>">Ver mas</a>
              <div id="post-<%=post.id%>" class="reveal-modal" data-reveal>
                <%=post.body%>
                <a class="close-reveal-modal">&#215;</a>          
            </div>
          <%end%>
        </td>
        <% if admin_signed_in? %>
        <td><%= User.find(post.user_id).email%></td>
        <%end%>
        <td><%= link_to 'Mostrar', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
      <% end %>
    <% end %>




  </tbody>
</table>


